<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>  
    <script src="/javascripts/meteocontroller.js"></script>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <form id="invioDati">
      <div>
        <input type="text"  id="citta" placeholder="Inserisci una citta' per la ricerca del meteo"><br>
        <button onclick="chiamataAServizio()">Click me</button> 
      </div>
    </form>


  </body>
</html>
