<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div id="intro"> 
    <script src="/javascripts/meteoc.js"></script>
    <h1 class="cent"><%= title %></h1>
    <p class="cent2">Benvenuto su <%= title %> qui poi cercare il meteo della tua citta&acute;</p>

    <div class="inserimento">
      <input class="cerca" type="text"  id="citta" placeholder="Inserisci una citta&acute;">
      <button id="inv" onclick="chiamataServizio()">Cerca</button> 

  </div>
    </div>


    <!--GRAFICA-->
    <div id="weather_wrapper">
      <div class="weatherCard">
        <div class="currentTemp">
          <span class="temp" id="tmpID"></span>
          <span class="location" id="nomeC"></span>
        </div>
        <div class="currentWeather">
          <span class="conditions" id="icona"></span>
          <div class="info">
            <span class="rain" id="pioggiaID">Pioggia:</span>
            <span class="wind" id="ventoID">Vento:</span>
          </div>
        </div>
      </div>
    </div>
  <div class="previsioni">
    <div class="moreinfo">
      <b>Oggi</b><br><br>
      <span id="condizioniID">Le condizioni meteo sono: </span><br>
      <span id="UmiditaID">Umidita&acute;: </span><br>
      <span id="uvID">intensi&acute; UV: </span><br>
      <span id="maxiID">Le temperatura massima odierna: </span><br>
      <span id="miniID">Le temperatura minima odierna: </span><br>
      <span id="avgiID">Le temperatura media odierna: </span><br>
      <span id="aggiornamentoID">Ultimo aggiornamento: </span><br>
    </div>
    <div class="moreinfo1">
      <b>Domani</b><br><br>
      <span id="maxiID1">Temperatura massima: </span><br>
      <span id="miniID1">Temperatura minima: </span><br>
      <span id="prec1">Totale precipitazioni:</span><br>
      <span id="condiz1">Previsioni: </span><br>
      <span id="ico1"></span><br>
      
    </div>
    <div class="moreinfo2">
      <b>Dopo domani</b><br><br>
      <span id="maxiID2">Le condizioni meteo sono: </span><br>
      <span id="miniID2">Temperatura minima:</span><br>
      <span id="prec2">Totale precipitazioni: </span><br>
      <span id="condiz2">Previsioni: </span><br>
      <span id="ico2"></span><br>

    </div>
  </div>
    
  <div class="mappa">  
      <div id="map"></div>

      <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
      <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJl19Cvi_OmCGDSzLQIUsv3AcEnQMmnms&callback=initMap&libraries=&v=weekly"
        async
      ></script>
  </div>

  </body>
</html>
